@font-face {
    font-family: 'Married';
    src: url(./Married\ Christmas.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(209, 209, 209);
    font-family: 'Married';
}
#maindiv {
    margin-top: 5px;
}
#maindiv a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
}
#content>h1 {
    font-size: 300px;
    margin-top: 50px;
    margin-left: 100px;
    font-weight: lighter;
}
#footer {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 200px;
}
#footer #B {
    margin-top: 50px;
    font-size: 25px;
    }
#footer #A {
    font-size: 25px;
    }
#footer p {
    margin-top: 10px;
}
#footbar {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    /* background-color: black; */

}
#footbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 1000;
}
#img1 {
    position: absolute;
    height: 350px;
    right: 30%;
    top: 32%;
    z-index: 12;
}  
#img2 {
    position: absolute;
    height: 300px;
    right: 56%;
    bottom: 10%;
    z-index: 1;
}  
#img3 {
    position: absolute;
    height: 200px;
    right: 45%;
    top: 55%;
    z-index: 2;
}  